@font-face {
    font-family: 'Assistant_op';
    src: url('Assistant-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lulo Clean';
    src: url('Lulo Clean W01 One Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'lulo clean one';
    src: url('Lulo Clean W01 One.ttf') format('truetype');
}

body{
    background-color: #666e87; 
}


.reveal{
    position:absolute;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;

}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


.title{
    font-size: 60px ; 
    font-family: Lulo Clean; 
    text-align: center; 
    color: #949AAB;
}


.para{
    font-size: 24px ; 
    font-family: Assistant_op ;
    text-align: center; 
    color: white;
}

.fortext{
    font-size: 60px ; 
    font-family: Lulo Clean ; 
    text-align: center; 
    color: #949AAB

}

.fortext1{
    font-size: 35px ; 
    font-family: lulo clean one ;
    text-align: center; 
    color: white;

}

.fortext2{
    font-size: 35px ; 
    font-family: lulo clean one ;
    text-align: center; 
    color: rgb(170, 166, 237);

}

.fortext3{
    font-size: 12px ; 
    font-family: Lulo Clean ;
    text-align: center; 
    color: white;
}

.download_button{
    border-radius: 25px ;
    border:none;
    font-family: Assistant_op;
    font-size: 2rem;
    padding: 0.5em 2em;
    color :rgb(30, 104, 179);
    background-color: rgb(205, 212, 214);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.download_button:hover{
    transform: scale(1.23);
    background-color:white;
    color: rgb(59, 66, 86);
}

.fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
    z-index: index 2;
}



@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform:  translateX(-100px);   
    }

    100%{
        opacity: 1;
        -moz-animation: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform:  translateX(-100px);   
    }

    100%{
        opacity: 1;
        -moz-animation: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform:  translateX(-100px);   
    }

    100%{
        opacity: 1;
        -o-animation: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
    opacity: 0;
    transform:  translateX(-100px);   
}

    100%{
    opacity: 1;
    animation: translateX(0);
    }
}

.fadeInRight{
    -webkit-animation: fadeInRight 1.2s both;
    -moz-animation: fadeInRight1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation: fadeInRight 1.2s both;
}

@-webkit-keyframes fadeInRight {
    0%{
        opacity: 0;
        -webkit-transform:  translateX(100px);   
    }

    100%{
        opacity: 1;
        -moz-animation: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0%{
        opacity: 0;
        -moz-transform:  translateX(100px);   
    }

    100%{
        opacity: 1;
        -moz-animation: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0%{
        opacity: 0;
        -o-transform:  translateX(100px);   
    }

    100%{
        opacity: 1;
        -o-animation: translateX(0);
    }
}
@keyframes fadeInRight {0%{
    opacity: 0;
    transform:  translateX(100px);   
}

100%{
    opacity: 1;
    animation: translateX(0);
}}
