header {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  top: -10px;
  left: -5px;
  position: absolute;
  background-color: #7c8ec1;
  width: 100%;
  color: white;
}

b {
  font-size: 60px;
  text-align: center;
  color: rgb(31, 90, 136);
  position: absolute;
  top: 40%;
  left: 39.5%;
  z-index: 3;

}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  opacity: 0.5;
  object-position: 300px 300px;
  z-index: 2;
  object-fit: contain;
}

.first_item_left {
  display: flex;
  flex-direction: column;

}


body {
  color: white;
  overflow-x: hidden;
}